.wrapper{
	width:70%;
	margin:auto;
}
.header{
	background-color:white;
}
.header-fc{
	display:flex;
	justify-content:space-between;
	background-color:black;
}
.header-fc .logo{
	width:150px;
	height:40px;
	background-color:#212529;
	color:red;
}
.header-fc .navi{
	height:40px;
	width:510px;
	color:red;
}
	